html,body {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
}
nav{
  padding-top:0 !important;
  padding-bottom: 0 !important;
}
.navbar-nav>li>a{
  color:#84110a !important;
  padding-top:1rem !important;
  padding-bottom: 1rem !important;

  }
.navbar-nav>li>a.dropdown-item{
  color:#84110a !important;
  padding-top:1rem !important;
  padding-bottom: 1rem !important;
}
.navbar-nav>li>a.dropdown-toggle:hover{
  padding-top:0.1rem !important;
  border-bottom: 1px solid #84110a;
}

.dropdown-menu>a.dropdown-item:hover{
  border-bottom: 1px solid #84110a;
}
.navbar-nav>li>a:hover{
  padding-bottom:0.1rem !important;
  border-bottom: 1px solid #660505;
}
.fa-plus-circle{
  font-size: 2em;
}
.fa-clickable{
  cursor:pointer;
  outline:none;
}
  fieldset{
  border: 1px solid #C1C1C1;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5em;
} 

legend{
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  width: auto;
  padding: 0 10px;
}
#selectedContact{
  display: none;
}
#reduced{
  font-size: 8px !important;
  font-weight: normal !important;
}
#loading,#records-list,#bdsDoc,#mcsDoc,#bdsValue,#mcsValue,#bdsTime,#mcsTime,#cssTime,#bdsQuality,#mcsQuality,#cssQuality,#bdsBusiness,#mcsBusiness,#cssBusiness,#Phase2,#doPhase1,#Phase3,#submitTargets{
  display: none;
}
.error-marker {
  border: 1px solid #f00;
}

#warn{
  z-index: 99999 !important;
}

.rotate{
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.rotate.down{
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}